<br>
<div class="jumbotron">
  <h1>Blocmetrics</h1>
  <p>Blocmetrics is a resource for sharing links with your friends!</p>

</div>

<div class="row">
  <div class="col-md-4">
    <h2>Add your application </h2>
    <p>Blocmetrics .</p>
  </div>
  <div class="col-md-4">
    <h2>View Stats</h2>
    <p>Blocmetrics will let you see the results</p>
  </div>
  <div class="col-md-4">
    <h2>Makes you better looking</h2>
    <p>Another area for blocmetrics</p>
  </div>
</div>